{% extends 'ctp_website/base.html' %}

{% block titleblock %}Welcome to the Cottier Chamber Project{% endblock %}

{% block bodyblock %}
<h2 style="text-align:right">About Us</h2>
<p>The Cottier Chamber Project is part of Glasgow's West End Festival. 
Running since 2011, the series aims to:</p>
<ul>
	<li>bring top quality professional chamber music to Glasgow's West End</li>
	<li>showcase the variety and depth of talent in Scotland</li>
	<li>promote and introduce chamber music to new and existing audiences</li>
	<li>entertain, challenge, inspire and satisfy audiences and performers</li>
 	<li>have great time listening to and playing great music!</li>
</ul>
<p>You can download brochures from previous years here: </p>
<p>The West End Festival's professional performance programme for 2014 will also include threads of dance, literature, theatre and visual art. More details will be announced soon!</p>
<p>The team that runs The Cottier Chamber Project is:</p>
{% endblock %}