{% extends 'ctp_website/base_with_right_no_twitter.html' %}

{% block titleblock %}Welcome to the Cottier Chamber Project{% endblock %}

{% block bodyblock %}
<h3>Series</h3>

{% if series %}
<p>Click on [show details] to see more about the series that make up the festival.</p>
<ul class="giglist">
{% for s in series %}
	<li><b style="font-size:14pt;">{{s.name}}</b> <a href="#{{s.url}}" data-toggle="collapse" style="font-size:10pt;">[show details]</a></li>
	<div id="{{s.url}}" class="collapse out">
		<p style="margin-left:20px">
			{{s.bio|safe|linebreaksbr}}
		</p>
		<p style="margin-left:20px">Click <a href="/ctp_website/series/{{s.id}}">here</a> for more information and a list of concerts in this series.</p>
	</div>
{% endfor %}
</ul>



{% endif %}

{% endblock %}
