{% extends 'ctp_website/base.html' %}


{% block left_block %}
&nbsp;
{% endblock %}

{% block rightmenu %}
<b>Jump to a day:</b>
	{% if GigDay %}
  	{% for g in GigDay %}
  	 <div class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" rel="tooltip" data-placement="top" title="{% if g.1 %}|{% for l in g.1 %}&nbsp;{{l.title}} |{% endfor %}{% else %} empty {%endif%}">{{g.0.date|date:"l F jS"}}</a>
  	   {% if g.1 %}
  	     <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          {% for l in g.1 %}
            <li><a href="/ctp_website/gig/{{l.url}}">{{l.title}}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    {% endfor %}
    <br />
{% else %}
No gig days
{% endif %}
{% endblock %}