{% extends 'ctp_website/base.html' %}


{% block left_block %}
<a class="twitter-timeline" href="https://twitter.com/CottierChamber" data-widget-id="334449841298096129">Tweets by @CottierChamber</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}

{% block rightmenu %}
<b>Jump to a day:</b>
	{% if GigDay %}
  	{% for g in GigDay %}
  	 <div class="dropdown">
     <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#" rel="tooltip" data-placement="top" title="{% if g.1 %}|{% for l in g.1 %}&nbsp;{{l.title}} |{% endfor %}{% else %} empty {%endif%}">
        {{g.0.date|date:"l F jS"}}
      </a>-->
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        {{g.0.date|date:"l F jS"}}
      </a>
  	   {% if g.1 %}
  	     <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          {% for l in g.1 %}
            <!-- <li><a href="/ccp/gig/{{l.url}}">{% if l.title = "Bite-Sized Bach " %}{{l.artist_name}}{% else %}{% if l.title = "Currie and Quirk Shostakovich Series" %}{{l.artist_name}}{% else %}{{l.title}}{% endif %}{% endif %}</a></li> -->
            <li><a href="/ccp/gig/{{l.url}}">{{l.title}}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    {% endfor %}
    <br />
{% else %}
No gig days
{% endif %}
{% endblock %}