{% extends 'ctp_website/base_with_right.html' %}

{% block titleblock %}Welcome to the Cottier Chamber Project{% endblock %}

{% block bodyblock %}
<h3>Contact Us</h3>

<p>If you have any comments or suggestions, please contact us at:</p>
<div>
<div>The White House,</div> 
<div>50 Havelock Street,</div>
<div>Dowanhill Park,</div>
<div>Glasgow.</div>
<div>G11 5JE</div>
<div>&nbsp;</div>
<p><a href="mailto:andy@cottierchamberproject.com">andy@cottierchamberproject.com</a></p>
<p><a href="http://twitter.com/cottierchamber" target="new">Twitter: @cottierchamber</a></p>
<p><a href="http://www.facebook.com/pages/Cottier-Chamber-Project/203816516323728" target="new">Facebook: http://www.facebook.com/pages/Cottier-Chamber-Project/203816516323728</a></p>
<p>For The Cottier Chamber Circle:<a href="mailto:circle@cottierchamberproject.com">circle@cottierchamberproject.com</a></p>
</div>


<hr>
{% endblock %}