{% extends 'ctp_website/base_with_right_no_twitter.html' %}

{% block titleblock %}Welcome to the Cottier Chamber Project{% endblock %}

{% block bodyblock %}
{% if day %}

<h3>{{day.date|date:"l F jS"}}</h3>
{% if gigs %}
Click on a gig for more information:<br />
&nbsp;<br/>
	<ul class="giglist">
	{% for gig in gigs %}
		<li><a href="/ccp/gig/{{gig.url}}">{{gig.title}}, {{gig.time}}, {{gig.price}}</a>, <A href="/ccp/venue/{{gig.venue.url}}">{{gig.venue.name}}</A></li>
	{% endfor %}
	</ul>
{% else %}
No gigs today!
{% endif %}

{% endif %}
&nbsp;<br />
<hr>
{% endblock %}

