{% extends 'ctp_website/base_with_right_no_twitter.html' %}

{% load static %}

{% block titleblock %}Welcome to the Cottier Chamber Project{% endblock %}

{% block bodyblock %}
<h3>Gallery</h3>
<p>Photographers Mikah Smillie and Sean Purser are capturing images of each performer in action throughout the festival, with an exhibition forming in the front window of Waitrose Byres Road.  The Performer Potraits exhibition features a single shot of every artist - browse the full selection of shots here.</p>
<div id="photos"></div>
<iframe src="http://embedsocial.com/facebook_album/album_photos/712983932073648" width="500" height="500" frameborder="0" scrolling="yes" marginheight="0"  marginwidth="0"></iframe>

{% endblock %}

