{% extends 'ctp_website/base.html' %}

{% block titleblock %}Cottier Chamber Project:{{ name }}{% endblock %}

{% block bodyblock %}
{% if foundname %}
	<h2 class="text-right">{{ foundname }}</h2>
	{% if artists %}
		<span><b>Artists:</b></span>
		<ul>
		{% for artist in artists %}
			<li><A href="/ctp_website/artist/{{ artist.url }}">{{ artist.name }}</A>&nbsp;&nbsp;
		{% endfor %}
		</ul>
	{% else %}
		<b>Genre <i>{{ name }}</i> does not have any entries in the database</b>
	{% endif %}
{% else %}
	<b>Genre <i>{{ name }}</i> does not exist in the database</b>
{% endif %}
{% endblock %}
