{% extends 'ctp_website/base.html' %}

{% block titleblock %}Cottier Chamber Project:{{ name }}{% endblock %}

{% block bodyblock %}
{% if foundname %}
	<h2 class="text-right">Artists:{{ foundname }}</h2>
	{% if artists %}
		<ul>
		{% for artist in artists %}
			<li><A href="/ccp/artist/{{ artist.url }}">{{ artist.name }}</A>&nbsp;&nbsp;
		{% endfor %}
		</ul>
	{% else %}
		<b>Genre <i>{{ name }}</i> does not have any entries in the database</b>
	{% endif %}
{% else %}
	<b>Genre <i>{{ name }}</i> does not exist in the database</b>
{% endif %}
<div>Return to <A href="/ccp/artists">all</A> artists.</div>
{% endblock %}
