{% extends 'ctp_website/base_with_right.html' %}

{% block titleblock %}Welcome to the Cottier Chamber Project{% endblock %}

{% block bodyblock %}
	{% if gig %}
		<h3>{{gig.title}}: {{gig.date.dayOfTheWeek}} {{gig.date.date|date:"M d"}}, {{gig.time}}</h3>
		<h4>Venue: <A href="/ctp_website/venue/{{gig.venue.url}}">{{gig.venue.name}}</A></h4>
		<h4>Price: {{gig.price}}</h4>
		<hr>
		{% if image1 %}
					<div style="float:right;text-align:right;font-size:12px"><img src = "{{image1.0}}" width="{{image1.1}}">{% if image1.2 %}<br />Credit: {{image1.2}}{% endif %}</div>
				{% endif %}
		{% if musicians %}
		<h4>Musicians:</h4>
		<div>{{gig.musicians|safe|linebreaksbr}}</div>
		<hr>
		{% endif %}
		{% if programme %}
		<h4>Programme:</h4>
		<div>{{programme|safe|linebreaksbr}}</div>
		<hr>
		{% endif %}
		{% if bio %}
		<h4>Biography:</h4>
			<div>
				{{bio|safe|linebreaksbr}}
			</div>
		{% endif %}
	{% else %}
	No such gig!
	{% endif %}

{% endblock %}

