{% extends 'ctp_website/base_with_right_no_twitter.html' %}

{% block titleblock %}Welcome to the Cottier Chamber Project{% endblock %}

{% block bodyblock %}
	{% if gig %}
		<h3>{{gig.title}}{% if subname %}<br />{{subname}}{% endif %}</h3>
		<h4>{{gig.date.date|date:"l F jS"}}, {{gig.time}}
		<h4>Venue: <A href="/ccp/venue/{{gig.venue.url}}">{{gig.venue.name}}</A></h4>
		<hr>
		{% if image1 %}
			<div style="float:right;text-align:right;font-size:12px">
				<table>
					<tr><td>
					<img src = "{{image1.0}}" width="{{image1.1}}">{% if image1.2 %}<br />Credit: {{image1.2}}{% endif %}</td></tr>
					{% if image2 %}
						<tr><td>
						<img src="{{image2.0}}" width="{{image2.1}}">{% if image2.2 %}<br />Credit: {{image2.2}}{% endif %}
						</td></tr>
					{% endif %}
				</table>
			</div>
		{% endif %}
		{% if programme %}
			<h4>Programme:</h4>
			<div style="font-size:medium;">{{programme|safe|linebreaksbr}}</div>
		{% endif %}

		{% if about_programme %}
			<br />
			<div>{{about_programme|safe|linebreaksbr}}</div>
		{% endif %}

		{% ifnotequal gig.spare "empty" %}
			<br />{{gig.spare|safe|linebreaksbr}}
		{% endifnotequal %}


		{% if musicians %}
		<ul>
		{% for musician in musicians %}
			<li>{{musician.name}}</li>
		{% endfor %}
		</ul>
		<hr>
			<h4>Artists:</h4>
				<div>{{gig.musicians|safe|linebreaksbr}}</div>
				<br />
		{% endif %}

		{% if personal_url %}
			<div><A href="{{personal_url}}" target="new">Artist website</A></div>
			<hr>
		{% endif %}

		{% if price %}
			<h4>Price:</h4>
			<div> {{price}}</div>
			{% if box_office_url %}
				<div>Click <a href="{{box_office_url}}" target="new">here</a> to buy tickets online.</div>
			{% endif %}
			{% if box_office_url2 %}
				<div>Click <a href="{{box_office_url2}}">here</a> for box office information.</div>
			{% endif %}
			{% if special_offers %}
				<br />
				<div>Special offers:</div>
				<ul>
					<li>{{special_offers}}</li>
						{% if special_offers2 %}
					<li>{{special_offers2}}</li>
					{% endif %}
				</ul>
				<div>See the <a href="/ccp/tickets">tickets</a> page for more information</div>
			{% endif %}
		{% endif %}
		{% if bio %}
		<hr>
		<h4>Biography:</h4>
			<div>
				{{bio|safe|linebreaksbr}}
			</div>
		{% endif %}

		{% if review_url %}
			<hr>
			<a href="{{review_url}}" target="new">Review!</a>
		{% endif %}
		{% if review_url2 %}
			<hr>
			<a href="{{review_url2}}" target="new">Review!</a>
		{% endif %}
		{% if review_url3 %}
			<hr>
			<a href="{{review_url3}}" target="new">Review!</a>
		{% endif %}

	{% else %}
	No such gig!
	{% endif %}

{% endblock %}

