{% extends 'ctp_website/base_with_right_no_twitter.html' %}

{% block titleblock %}Welcome to the Cottier Chamber Project{% endblock %}

{% block bodyblock %}
	{% if gig %}
		<h3>{{gig.title}}{% if subname %}<br />{{subname}}{% endif %}</h3>
		<h4>{{gig.date.date|date:"l F jS"}}, {{gig.time}}</h4>
		<h4>Venue: <A href="/ccp/venue/{{gig.venue.id}}">{{gig.venue.name}}</A></h4>
		{% if gig.series %}
			<p>Part of the <A href="/ctp_website/series/{{gig.series.id}}">{{gig.series.name}}</A> series.</p>
		{% endif %}
		{% if review_url %}
			<hr />
			<b>Read some reviews of this performance:</b>
				<a href="{{review_url}}" target="new">[review]</a>
		{% endif %}
		{% if review_url2 %}
			<a href="{{review_url2}}" target="new">&nbsp;[review]</a>
		{% endif %}
		{% if review_url3 %}
			<a href="{{review_url3}}" target="new">&nbsp;[review]</a>
		{% endif %}
		<hr>
		{% if image1 %}
			<div style="float:right;text-align:right;font-size:12px">
				<table>
					<tr><td>
					<img src = "{{image1.0}}" width="{{image1.1}}">{% if image1.2 %}<br />Credit: {{image1.2}}{% endif %}</td></tr>
					{% if image2 %}
						<tr><td>
						<img src="{{image2.0}}" width="{{image2.1}}">{% if image2.2 %}<br />Credit: {{image2.2}}{% endif %}
						</td></tr>
					{% endif %}
				</table>
			</div>
		{% endif %}
		
		
		{% if works %}
			<h4>Programme:</h4>
			<ul class="giglist">
			{% for work in works %}
				{% if work.bio %}
					<li><a href="/ctp_website/composer/{{work.composer.id}}">{{work.composer.name}}</a>
					<p style="margin-left:5px"><b>{{work.name}}</b> <a data-toggle="collapse" data-target="#{{forloop.counter}}">(show info)</a></p></li>

<!-- 					<li><a data-toggle="collapse" data-target="#{{forloop.counter}}">{{work.composer.name}} <b>{{work.name}}</b></a></li>
 -->	      			<div id="{{forloop.counter}}" class="collapse out">
	      			<p style="margin-left:10px">
	       				{{work.bio|safe|linebreaksbr}}
	       			</p>
	      			</div>
	      		{% else %}
	      			<li><a href="/ctp_website/composer/{{work.composer.id}}">{{work.composer.name}}</a>
					<p style="margin-left:5px"><b>{{work.name}}</b> </p></li>
	      		{% endif %}
	  		{% endfor %}
	  		</ul>
		{% endif %}
    		

		{% if about_programme %}
			<br />
			<div>
			<p>{{about_programme|safe|linebreaksbr}}</p>
			</div>
		{% endif %}

		

		{% if artist_bio %}
			{{ artist_bio|safe|linebreaksbr}}
		{% endif %}

		{% if musicians %}
		<h4>Artists:</h4>
		<ul class="giglist">
		{% for musician in musicians %}
			{% if musician.bio %}
					<li><a href="/ctp_website/artist/{{musician.id}}"><b>{{musician.name}}</b></a> {{musician.instrument}} <a data-toggle="collapse" data-target="#m{{forloop.counter}}" style="font-size:10pt">[biog]</a></li>
	      			<div id="m{{forloop.counter}}" class="collapse out">
	      			<p style="margin-left:10px">
	       				{{musician.bio|safe|linebreaksbr}}
	       			</p>
	      			</div>
	      		{% else %}
	      			<li><b><a href="/ctp_website/artist/{{musician.id}}">{{musician.name}}</a></b> {{musician.instrument}}</li>
	      		{% endif %}
		{% endfor %}
		</ul>
		
		{% endif %}

		{% if personal_url %}
			<div><A href="{{personal_url}}" target="new">Artist website</A></div>
			<hr>
		{% endif %}


		{% ifnotequal gig.spare "empty" %}
			<br />{{gig.spare|safe|linebreaksbr}}
		{% endifnotequal %}

		{% if price %}
			<h4>Price:</h4>
			<div> {{price}}</div>
			{% if box_office_url %}
				<!-- <div>Click <a href="{{box_office_url}}" target="new">here</a> to buy tickets online.</div> -->
				<!-- <div>{{box_office_url|safe}}</div> -->
			{% endif %}

			<!-- hack for 2016 -->
			<div><a href="http://sa1.seatadvisor.com/sabo/servlets/EventSearch?presenter=TLFOURACRES&codes=TCCP&killLogin=true" target="new">Buy tickets</a></div>

			{% if box_office_url2 %}
				<div>Click <a href="{{box_office_url2}}">here</a> for box office information.</div>
			{% endif %}
			{% if special_offers %}
				<br />
				<div>Special offers:</div>
				<ul>
					<li>{{special_offers}}</li>
						{% if special_offers2 %}
					<li>{{special_offers2}}</li>
					{% endif %}
				</ul>
				<div>See the <a href="/ccp/tickets">tickets</a> page for more information</div>
			{% endif %}
		{% endif %}
		
		{% if bio %}
		<hr>
		<h4>Biography:</h4>
			<div>
				{{bio|safe|linebreaksbr}}
			</div>
		{% endif %}

	{% else %}
	No such gig!
	{% endif %}

{% endblock %}

