{% extends 'ctp_website/base.html' %}

{% block titleblock %}Welcome to the Cottier Chamber Project{% endblock %}

{% block bodyblock %}BLah blah blah blah BLah blah blah blah BLah blah blah blah BLah blah blah blah BLah blah blah blah BLah blah blah blah BLah blah blah blah BLah blah blah blah BLah blah blah blah BLah blah blah blah BLah blah blah blah BLah blah blah blah {% endblock %}

{% block rightmenu %}
Jump to a day:
{% if GigDay %}
	<ul class="rightlist">
	{% for g in GigDay %}
		<li><A href="/ctp_website/day/{{g.url}}">June {{g.date|date:"d"}}</A></li>
	{% endfor %}
	</ul>
{% else %}
No gig days
{% endif %}
{% endblock %}