{% extends 'ctp_website/base_with_right.html' %}

{% block titleblock %}Programme{% endblock %}

{% block bodyblock %}
<h3>Programme</h2>


{% if GigDay %}
<TABLE class="progtable" BORDER="0" cellpadding="0" cellspacing="0" width=100%> 
<tr>
<td width=13% height=20px VALIGN="top" ALIGN="right">Mon</TD>
<TD width=13% height=20px VALIGN="top" ALIGN="right">Tue</TD>
<TD width=13% height=20px VALIGN="top" ALIGN="right">Wed</TD>
<TD width=13% height=20px VALIGN="top" ALIGN="right">Thur</TD>
<TD width=13% height=20px VALIGN="top" ALIGN="right"> Fri</TD>
<TD width=13% height=20px VALIGN="top" ALIGN="right"> Sat</TD>
<TD width=13% height=20px VALIGN="top" ALIGN="right"> Sun</TD>
<TD width=9%>&nbsp;</TD>
</tr>
<tr>
<td width=13% height=150px VALIGN="top" ALIGN="right">&nbsp;</TD>
<TD width=13% height=150px VALIGN="top" ALIGN="right">&nbsp;</TD>
<TD width=13% height=150px VALIGN="top" ALIGN="right">&nbsp;</TD>
<TD width=13% height=150px VALIGN="top" ALIGN="right">&nbsp;</TD>
<TD class="full" width=13% height=150px VALIGN="top" ALIGN="right">
		<a href="/ctp_website/day/{{GigDay.0.0.url}}">{{GigDay.0.0.date|date:"jS F"}}</a><br />{% for l in GigDay.0.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}</a><br />{% endfor %}</a>
</TD>

<TD class="full" width=13% height=150px VALIGN="top" ALIGN="right"> 
		<a href="/ctp_website/day/{{GigDay.1.0.url}}">{{GigDay.1.0.date|date:"jS F"}}</a><br />{% for l in GigDay.1.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}</a><br />{% endfor %}</a>
</TD>

<TD class="full" width=13% height=150px VALIGN="top" ALIGN="right"> 
		<a href="/ctp_website/day/{{GigDay.2.0.url}}">{{GigDay.2.0.date|date:"jS F"}}</a><br />{% for l in GigDay.2.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}</a><br />{% endfor %}</a>
</TD>
<TD width=9%>&nbsp;</TD>
</tr>
<tr>
<TD class="full" width=13% height=150px VALIGN="top" ALIGN="right"> 
		<a href="/ctp_website/day/{{GigDay.3.0.url}}">{{GigDay.3.0.date|date:"jS F"}}</a><br />{% for l in GigDay.3.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}</a><br />{% endfor %}</a>
</TD>

<TD class="full" width=13% height=150px VALIGN="top" ALIGN="right"> 
		<a href="/ctp_website/day/{{GigDay.4.0.url}}">{{GigDay.4.0.date|date:"jS F"}}</a><br />{% for l in GigDay.4.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}</a><br />{% endfor %}</a>
</TD>
<TD class="full" width=13% height=150px VALIGN="top" ALIGN="right"> 
		<a href="/ctp_website/day/{{GigDay.5.0.url}}">{{GigDay.5.0.date|date:"jS F"}}</a><br />{% for l in GigDay.5.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}</a><br />{% endfor %}</a>
</TD>
<TD class="full" width=13% height=150px VALIGN="top" ALIGN="right"> 
		<a href="/ctp_website/day/{{GigDay.6.0.url}}">{{GigDay.6.0.date|date:"jS F"}}</a><br />{% for l in GigDay.6.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}</a><br />{% endfor %}</a>
</TD>
<TD class="full" width=13% height=150px VALIGN="top" ALIGN="right"> 
		<a href="/ctp_website/day/{{GigDay.7.0.url}}">{{GigDay.7.0.date|date:"jS F"}}</a><br />{% for l in GigDay.7.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}</a><br />{% endfor %}</a>
</TD>
<TD class="full" width=13% height=150px VALIGN="top" ALIGN="right"> 
		<a href="/ctp_website/day/{{GigDay.8.0.url}}">{{GigDay.8.0.date|date:"jS F"}}</a><br />{% for l in GigDay.8.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}</a><br />{% endfor %}</a>
</TD>
<TD class="full" width=13% height=150px VALIGN="top" ALIGN="right"> 
		<a href="/ctp_website/day/{{GigDay.9.0.url}}">{{GigDay.9.0.date|date:"jS F"}}</a><br />{% for l in GigDay.9.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}</a><br />{% endfor %}</a>
</TD>
<td width=9%>&nbsp;</td>
</tr>
<tr>
<TD class="full" width=13% height=150px VALIGN="top" ALIGN="right"> 
		<a href="/ctp_website/day/{{GigDay.10.0.url}}">{{GigDay.10.0.date|date:"jS F"}}</a><br />{% for l in GigDay.10.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}</a><br />{% endfor %}</a>
</TD>
<TD class="full" width=13% height=150px VALIGN="top" ALIGN="right"> 
		<a href="/ctp_website/day/{{GigDay.11.0.url}}">{{GigDay.11.0.date|date:"jS F"}}</a><br />{% for l in GigDay.11.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}</a><br />{% endfor %}</a>
</TD>
<TD class="full" width=13% height=150px VALIGN="top" ALIGN="right"> 
		<a href="/ctp_website/day/{{GigDay.12.0.url}}">{{GigDay.12.0.date|date:"jS F"}}</a><br />{% for l in GigDay.12.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}</a><br />{% endfor %}</a>
</TD>
<TD class="full" width=13% height=150px VALIGN="top" ALIGN="right"> 
		<a href="/ctp_website/day/{{GigDay.13.0.url}}">{{GigDay.13.0.date|date:"jS F"}}</a><br />{% for l in GigDay.13.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}</a><br />{% endfor %}</a>
</TD>
<TD class="full" width=13% height=150px VALIGN="top" ALIGN="right"> 
		<a href="/ctp_website/day/{{GigDay.14.0.url}}">{{GigDay.14.0.date|date:"jS F"}}</a><br />{% for l in GigDay.14.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}</a><br />{% endfor %}</a>
</TD>
<TD width=13% height=150px VALIGN="top" ALIGN="right"> &nbsp;</TD>
<TD width=13% height=150px VALIGN="top" ALIGN="right"> &nbsp;</TD>
<td width=9%>&nbsp;</td>
</tr>
</TABLE>
{% else %}
No gigs in the database!
{% endif %}


<!-- {% if GigDay %}
	{% for g in GigDay %}
		<h4>{{g.0.dayOfTheWeek}} {{g.0.date|date:"M d"}}</h4>
		<ul class="giglist">
		{% if g.1 %}
			{% for l in g.1 %}
				<li><a href="/ctp_website/gig/{{l.url}}"><a href="/ctp_website/gig/{{l.url}}">{{l.title}}</a>, {{l.time}}, {{l.price}}</a>, <a href="/ctp_website/venue/{{l.venue.url}}">{{l.venue.name}}</a></li>
			{% endfor %}
		{% else %}
		<li>No gigs on this day</li>
		{% endif %}
		</ul>
	{% endfor %}
{% else %}
No gigs in database	
{% endif %} -->




{% endblock %}