{% extends 'ctp_website/base_with_right_no_twitter.html' %}
{% load static %}
{% block titleblock %}Programme{% endblock %}
{% block bodyblock %}
<h3>Programme</h2>

<p>This year, we have several exciting series. Click on the series name next to the event below to see all events in that series, or click <a href="/ccp/all_series/">here</a> for a list of series.</p>

<p>Download a <a href="http://danielsbeard.org.uk/2015_CCP_website/Cottier_Chamber_Project_2015_brochure_lo-res.pdf">low-res</a> or <a href="http://danielsbeard.org.uk/2015_CCP_website/Cottier_Chamber_Project_2015_brochure.pdf">high-res</a> .pdf programme. And a handy .ics file (compatible with all main calendar programmes) <a href="{% static 'Cottier_Chamber_Project_2015_calendar.ics' %}">here</a>.</p>

{% if GigDay %}
	{% for gd in GigDay %}
	<p><b>{{gd.0.date|date:"l F jS"}}</b></p>
	<ul class="giglist">
	{% for l in gd.1 %}
		<li>
			{{l.time|time:'H:i'}}&nbsp;<a href="/ctp_website/gig/{{l.url}}">{{l.title}}</a>
			{% if l.series %}
				{% if l.series.id == 8 %}
				<a style="color:#EA6F36;" href="/ctp_website/series/{{l.series.id}}">
				{% elif l.series.id == 3 %}
				<a style="color:#4182E1;" href="/ctp_website/series/{{l.series.id}}">
				{% elif l.series.id == 6 %}
				<a style="color:#8C489F;" href="/ctp_website/series/{{l.series.id}}">
				{% elif l.series.id == 2 %}
				<a style="color:#800000;" href="/ctp_website/series/{{l.series.id}}">
				{% elif l.series.id == 4 %}
				<a style="color:#228B22;" href="/ctp_website/series/{{l.series.id}}">
				{% else %}
				<a style="color:#000000;" href="/ctp_website/series/{{l.series.id}}">
				{% endif %}
				[{{l.series}}]
				</a>
				</p>
			{% endif %}
		</li>
	{% endfor %}
	</ul>
	{% endfor %}
{% else %}
No gigs in the database!
{% endif %}
<!--
<div class="tabbable">
	<ul class="nav nav-tabs">
  		<li class="active">
    		<a href="#all" data-toggle="tab">All</a>
  		</li>
  		<li><a href="#cott" data-toggle="tab">Cottier's Theatre</a></li>
  		<li><a href="#hunt" data-toggle="tab">Hunterian Art Gallery</a></li>
  		<li><a href="#silas" data-toggle="tab">St. Silas Church</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="all">
 {% if GigDay %}
	{% for g in GigDay %}
		{% if g.1 %}
		<h4>{{g.0.date|date:"l F jS"}}</h4>
		<ul class="giglist">
			{% for l in g.1 %}
				<li><a href="/ctp_website/gig/{{l.url}}"><a href="/ctp_website/gig/{{l.url}}">{{l.title}}</a>, {{l.time}}</a>, <a href="/ctp_website/venue/{{l.venue.url}}">{{l.venue.name}}</a></li>
			{% endfor %}
		{% else %}
		{% endif %}
		</ul>
	{% endfor %}
{% else %}
No gigs in database	
{% endif %}
</div>
<div class="tab-pane" id="cott">
{% if cottgigs %}
	{% for g in cottgigs %}
		{% if g.1 %}
		<h4>{{g.0.date|date:"l F jS"}}</h4>
		<ul class="giglist">
			{% for l in g.1 %}
				<li><a href="/ctp_website/gig/{{l.url}}"><a href="/ctp_website/gig/{{l.url}}">{{l.title}}</a>, {{l.time}}</a></li>
			{% endfor %}
		{% else %}
		{% endif %}
		</ul>
	{% endfor %}
{% else %}
No gigs in database	
{% endif %}</div>
<div class="tab-pane" id="hunt">
	{% if huntgigs %}
	{% for g in huntgigs %}
		{% if g.1 %}
		<h4>{{g.0.date|date:"l F jS"}}</h4>
		<ul class="giglist">
			{% for l in g.1 %}
				<li><a href="/ctp_website/gig/{{l.url}}"><a href="/ctp_website/gig/{{l.url}}">{{l.title}}</a>, {{l.time}}</a></li>
			{% endfor %}
		{% else %}
		{% endif %}
		</ul>
	{% endfor %}
{% else %}
No gigs in database	
{% endif %}
</div>
<div class="tab-pane" id="silas">
{% if silasgigs %}
	{% for g in silasgigs %}
		{% if g.1 %}
		<h4>{{g.0.date|date:"l F jS"}}</h4>
		<ul class="giglist">
			{% for l in g.1 %}
				<li><a href="/ctp_website/gig/{{l.url}}"><a href="/ctp_website/gig/{{l.url}}">{{l.title}}</a>, {{l.time}}</a></li>
			{% endfor %}
		{% else %}
		{% endif %}
		</ul>
	{% endfor %}
{% else %}
No gigs in database	
{% endif %}

</div>
</div>
</div>

-->


{% endblock %}