{% extends 'ctp_website/base_with_right_no_twitter.html' %}
{% load static %}
{% block titleblock %}Programme{% endblock %}

{% block bodyblock %}
<h3>Programme</h2>


{% if GigDay %}
<TABLE class="progtable" BORDER="0" cellpadding="0" cellspacing="0" width=100%> 
<tr>
<td width=13% height=20px VALIGN="top" ALIGN="right">Mon</TD>
<TD width=13% height=20px VALIGN="top" ALIGN="right">Tue</TD>
<TD width=13% height=20px VALIGN="top" ALIGN="right">Wed</TD>
<TD width=13% height=20px VALIGN="top" ALIGN="right">Thur</TD>
<TD width=13% height=20px VALIGN="top" ALIGN="right"> Fri</TD>
<TD width=13% height=20px VALIGN="top" ALIGN="right"> Sat</TD>
<TD width=13% height=20px VALIGN="top" ALIGN="right"> Sun</TD>
<TD width=9%>&nbsp;</TD>
</tr>
<tr>
<td width=13% height=150px VALIGN="top" ALIGN="right">&nbsp;</TD>
<TD width=13% height=150px VALIGN="top" ALIGN="right">&nbsp;</TD>
<TD width=13% height=150px VALIGN="top" ALIGN="right">&nbsp;</TD>
<TD width=13% height=150px VALIGN="top" ALIGN="right">&nbsp;</TD>
<TD class="full" width=13% height=150px VALIGN="top" ALIGN="right">
		<div style="text-align:left;font-size:large;"><a href="/ctp_website/day/{{GigDay.0.0.url}}">{{GigDay.0.0.date|date:"j"}}</a></div>{% for l in GigDay.0.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}{% if l.title = "Bite-Sized Bach "  or l.title = "Currie and Quirk Shostakovich Series" %}{{l.artist_name}}{% endif %}</a><br /><br />{% endfor %}</a>
</TD>

<TD class="full" width=13% height=150px VALIGN="top" ALIGN="right"> 
		<div style="text-align:left;font-size:large;"><a href="/ctp_website/day/{{GigDay.1.0.url}}">{{GigDay.1.0.date|date:"j"}}</a></div>{% for l in GigDay.1.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}{% if l.title = "Bite-Sized Bach "  or l.title = "Currie and Quirk Shostakovich Series" %}: {{l.artist_name}}{% endif %}</a><br /><br />{% endfor %}</a>
</TD>

<TD class="full" width=13% height=150px VALIGN="top" ALIGN="right"> 
		<div style="text-align:left;font-size:large;"><a href="/ctp_website/day/{{GigDay.2.0.url}}">{{GigDay.2.0.date|date:"j"}}</a></div>{% for l in GigDay.2.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}{% if l.title = "Bite-Sized Bach "  or l.title = "Currie and Quirk Shostakovich Series" %}: {{l.artist_name}}{% endif %}</a><br /><br />{% endfor %}</a>
</TD>
<TD width=9%>&nbsp;</TD>
</tr>
<tr>
<TD class="full" width=13% height=150px VALIGN="top" ALIGN="right"> 
		<div style="text-align:left;font-size:large;"><a href="/ctp_website/day/{{GigDay.3.0.url}}">{{GigDay.3.0.date|date:"j"}}</a></div>{% for l in GigDay.3.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}{% if l.title = "Bite-Sized Bach "  or l.title = "Currie and Quirk Shostakovich Series" %}: {{l.artist_name}}{% endif %}</a><br /><br />{% endfor %}</a>
</TD>

<TD class="full" width=13% height=150px VALIGN="top" ALIGN="right"> 
		<div style="text-align:left;font-size:large;"><a href="/ctp_website/day/{{GigDay.4.0.url}}">{{GigDay.4.0.date|date:"j"}}</a></div>{% for l in GigDay.4.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}{% if l.title = "Bite-Sized Bach "  or l.title = "Currie and Quirk Shostakovich Series" %}: {{l.artist_name}}{% endif %}</a><br /><br />{% endfor %}</a>
</TD>
<TD class="full" width=13% height=150px VALIGN="top" ALIGN="right"> 
		<div style="text-align:left;font-size:large;"><a href="/ctp_website/day/{{GigDay.5.0.url}}">{{GigDay.5.0.date|date:"j"}}</a></div>{% for l in GigDay.5.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}{% if l.title = "Bite-Sized Bach "  or l.title = "Currie and Quirk Shostakovich Series" %}: {{l.artist_name}}{% endif %}</a><br /><br />{% endfor %}</a>
</TD>
<TD class="full" width=13% height=150px VALIGN="top" ALIGN="right"> 
		<div style="text-align:left;font-size:large;"><a href="/ctp_website/day/{{GigDay.6.0.url}}">{{GigDay.6.0.date|date:"j"}}</a></div>{% for l in GigDay.6.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}{% if l.title = "Bite-Sized Bach "  or l.title = "Currie and Quirk Shostakovich Series" %}: {{l.artist_name}}{% endif %}</a><br /><br />{% endfor %}</a>
</TD>
<TD class="full" width=13% height=150px VALIGN="top" ALIGN="right"> 
		<div style="text-align:left;font-size:large;"><a href="/ctp_website/day/{{GigDay.7.0.url}}">{{GigDay.7.0.date|date:"j"}}</a></div>{% for l in GigDay.7.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}{% if l.title = "Bite-Sized Bach "  or l.title = "Currie and Quirk Shostakovich Series" %}: {{l.artist_name}}{% endif %}</a><br /><br />{% endfor %}</a>
</TD>
<TD class="full" width=13% height=150px VALIGN="top" ALIGN="right"> 
		<div style="text-align:left;font-size:large;"><a href="/ctp_website/day/{{GigDay.8.0.url}}">{{GigDay.8.0.date|date:"j"}}</a></div>{% for l in GigDay.8.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}{% if l.title = "Bite-Sized Bach " or l.title = "Currie and Quirk Shostakovich Series" %}: {{l.artist_name}}{% endif %}</a><br /><br />{% endfor %}</a>
</TD>
<TD class="full" width=13% height=150px VALIGN="top" ALIGN="right"> 
		<div style="text-align:left;font-size:large;"><a href="/ctp_website/day/{{GigDay.9.0.url}}">{{GigDay.9.0.date|date:"j"}}</a></div>{% for l in GigDay.9.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}{% if l.title = "Bite-Sized Bach "  or l.title = "Currie and Quirk Shostakovich Series" %}: {{l.artist_name}}{% endif %}</a><br /><br />{% endfor %}</a>
</TD>
<td width=9%>&nbsp;</td>
</tr>
<tr>
<TD class="full" width=13% height=150px VALIGN="top" ALIGN="right"> 
		<div style="text-align:left;font-size:large;"><a href="/ctp_website/day/{{GigDay.10.0.url}}">{{GigDay.10.0.date|date:"j"}}</a></div><br />{% for l in GigDay.10.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}{% if l.title = "Bite-Sized Bach " or l.title = "Currie and Quirk Shostakovich Series" %}: {{l.artist_name}}{% endif %}</a><br /><br />{% endfor %}</a>
</TD>
<TD class="full" width=13% height=150px VALIGN="top" ALIGN="right"> 
		<div style="text-align:left;font-size:large;"><a href="/ctp_website/day/{{GigDay.11.0.url}}">{{GigDay.11.0.date|date:"j"}}</a></div><br />{% for l in GigDay.11.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}{% if l.title = "Bite-Sized Bach " or l.title = "Currie and Quirk Shostakovich Series" %}: {{l.artist_name}}{% endif %}</a><br /><br />{% endfor %}</a>
</TD>
<TD class="full" width=13% height=150px VALIGN="top" ALIGN="right"> 
		<div style="text-align:left;font-size:large;"><a href="/ctp_website/day/{{GigDay.12.0.url}}">{{GigDay.12.0.date|date:"j"}}</a></div><br />{% for l in GigDay.12.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}{% if l.title = "Bite-Sized Bach " or l.title = "Currie and Quirk Shostakovich Series" %}: {{l.artist_name}}{% endif %}</a><br /><br />{% endfor %}</a>
</TD>
<TD class="full" width=13% height=150px VALIGN="top" ALIGN="right"> 
		<div style="text-align:left;font-size:large;"><a href="/ctp_website/day/{{GigDay.13.0.url}}">{{GigDay.13.0.date|date:"j"}}</a></div><br />{% for l in GigDay.13.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}{% if l.title = "Bite-Sized Bach " or l.title = "Currie and Quirk Shostakovich Series" %}: {{l.artist_name}}{% endif %}</a><br /><br />{% endfor %}</a>
</TD>
<TD class="full" width=13% height=150px VALIGN="top" ALIGN="right"> 
		<div style="text-align:left;font-size:large;"><a href="/ctp_website/day/{{GigDay.14.0.url}}">{{GigDay.14.0.date|date:"j"}}</a></div><br />{% for l in GigDay.14.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}{% if l.title = "Bite-Sized Bach " or l.title = "Currie and Quirk Shostakovich Series" %}: {{l.artist_name}}{% endif %}</a><br /><br />{% endfor %}</a>
</TD>
<TD class="dance" width=13% height=150px VALIGN="top" ALIGN="right">
	<div style="text-align:left;font-size:large;"><a href="/ctp_website/day/{{GigDay.15.0.url}}">{{GigDay.15.0.date|date:"j"}}</a></div><br />{% for l in GigDay.15.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}{% if l.title = "Bite-Sized Bach " or l.title = "Currie and Quirk Shostakovich Series" %}: {{l.artist_name}}{% endif %}</a><br /><br />{% endfor %}</a>
</TD>
<TD class="dance" width=13% height=150px VALIGN="top" ALIGN="right">
	<div style="text-align:left;font-size:large;"><a href="/ctp_website/day/{{GigDay.16.0.url}}">{{GigDay.16.0.date|date:"j"}}</a></div><br />{% for l in GigDay.16.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}{% if l.title = "Bite-Sized Bach " or l.title = "Currie and Quirk Shostakovich Series" %}: {{l.artist_name}}{% endif %}</a><br /><br />{% endfor %}</a>
</TD>

<td width=9%>&nbsp;</td>
</tr>

<tr>
<TD class="dance" width=13% height=150px VALIGN="top" ALIGN="right">
	<div style="text-align:left;font-size:large;"><a href="/ctp_website/day/{{GigDay.17.0.url}}">{{GigDay.17.0.date|date:"j"}}</a></div><br />{% for l in GigDay.17.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}</a><br /><br />{% endfor %}</a>
</TD>
<TD class="dance" width=13% height=150px VALIGN="top" ALIGN="right">
	<div style="text-align:left;font-size:large;"><a href="/ctp_website/day/{{GigDay.18.0.url}}">{{GigDay.18.0.date|date:"j"}}</a></div><br />{% for l in GigDay.18.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}</a><br /><br />{% endfor %}</a>
</TD>
<TD class="dance" width=13% height=150px VALIGN="top" ALIGN="right">
	<div style="text-align:left;font-size:large;"><a href="/ctp_website/day/{{GigDay.19.0.url}}">{{GigDay.19.0.date|date:"j"}}</a></div><br />{% for l in GigDay.19.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}</a><br /><br />{% endfor %}</a>
</TD>
<TD class="dance" width=13% height=150px VALIGN="top" ALIGN="right">
	<div style="text-align:left;font-size:large;"><a href="/ctp_website/day/{{GigDay.20.0.url}}">{{GigDay.20.0.date|date:"j"}}</a></div><br />{% for l in GigDay.20.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}</a><br /><br />{% endfor %}</a>
</TD>
<TD class="dance" width=13% height=150px VALIGN="top" ALIGN="right">
	<div style="text-align:left;font-size:large;"><a href="/ctp_website/day/{{GigDay.21.0.url}}">{{GigDay.21.0.date|date:"j"}}</a></div><br />{% for l in GigDay.21.1 %}<a href="/ctp_website/gig/{{l.url}}">{{l.title}}</a><br /><br />{% endfor %}</a>
</TD>

<td width=13% height=150px VALIGN="top" ALIGN="right">&nbsp;</TD>
<TD width=13% height=150px VALIGN="top" ALIGN="right">&nbsp;</TD>


</tr>

</TABLE>
<p>&nbsp;</p>
<p>Download the .ics file <a href="{% static 'CCP2014calendar.ics' %}">here</a> (compatible with most calendar applications), or a handy one page schedule <a href="{% static 'brochure_onepage_2014.pdf' %}" target="new">here</a>.</p>
{% else %}
No gigs in the database!
{% endif %}
<!--
<div class="tabbable">
	<ul class="nav nav-tabs">
  		<li class="active">
    		<a href="#all" data-toggle="tab">All</a>
  		</li>
  		<li><a href="#cott" data-toggle="tab">Cottier's Theatre</a></li>
  		<li><a href="#hunt" data-toggle="tab">Hunterian Art Gallery</a></li>
  		<li><a href="#silas" data-toggle="tab">St. Silas Church</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="all">
 {% if GigDay %}
	{% for g in GigDay %}
		{% if g.1 %}
		<h4>{{g.0.date|date:"l F jS"}}</h4>
		<ul class="giglist">
			{% for l in g.1 %}
				<li><a href="/ctp_website/gig/{{l.url}}"><a href="/ctp_website/gig/{{l.url}}">{{l.title}}</a>, {{l.time}}</a>, <a href="/ctp_website/venue/{{l.venue.url}}">{{l.venue.name}}</a></li>
			{% endfor %}
		{% else %}
		{% endif %}
		</ul>
	{% endfor %}
{% else %}
No gigs in database	
{% endif %}
</div>
<div class="tab-pane" id="cott">
{% if cottgigs %}
	{% for g in cottgigs %}
		{% if g.1 %}
		<h4>{{g.0.date|date:"l F jS"}}</h4>
		<ul class="giglist">
			{% for l in g.1 %}
				<li><a href="/ctp_website/gig/{{l.url}}"><a href="/ctp_website/gig/{{l.url}}">{{l.title}}</a>, {{l.time}}</a></li>
			{% endfor %}
		{% else %}
		{% endif %}
		</ul>
	{% endfor %}
{% else %}
No gigs in database	
{% endif %}</div>
<div class="tab-pane" id="hunt">
	{% if huntgigs %}
	{% for g in huntgigs %}
		{% if g.1 %}
		<h4>{{g.0.date|date:"l F jS"}}</h4>
		<ul class="giglist">
			{% for l in g.1 %}
				<li><a href="/ctp_website/gig/{{l.url}}"><a href="/ctp_website/gig/{{l.url}}">{{l.title}}</a>, {{l.time}}</a></li>
			{% endfor %}
		{% else %}
		{% endif %}
		</ul>
	{% endfor %}
{% else %}
No gigs in database	
{% endif %}
</div>
<div class="tab-pane" id="silas">
{% if silasgigs %}
	{% for g in silasgigs %}
		{% if g.1 %}
		<h4>{{g.0.date|date:"l F jS"}}</h4>
		<ul class="giglist">
			{% for l in g.1 %}
				<li><a href="/ctp_website/gig/{{l.url}}"><a href="/ctp_website/gig/{{l.url}}">{{l.title}}</a>, {{l.time}}</a></li>
			{% endfor %}
		{% else %}
		{% endif %}
		</ul>
	{% endfor %}
{% else %}
No gigs in database	
{% endif %}

</div>
</div>
</div>

-->


{% endblock %}