{% extends 'ctp_website/base_with_right_no_twitter.html' %}

{% load static %}

{% block titleblock %}Welcome to the Cottier Chamber Project{% endblock %}

{% block bodyblock %}
<p>&nbsp;</p>
<p>&nbsp;</p>
<h1>Currie & Quirk Shostakovich Series</h1>
<p>Dmitri Shostakovich was a towering figure in 20th century music.  Involved in the siege of Leningrad (where his 7th symphony was famously premièred), he lived his whole life under the communist regime of the Soviet Union. At times fêted by the Politburo and others censored, his music is instantly recognisable, with a unique sound and style.</p>
<p>His 15 string quartets are amongst the most powerful of the quartet repertoire.  5 of Scotland’s top quartets will share the cycle, performing 3 each over 3 years, in a chronological series examining these pivotal works.</p>
<ul>
<li><a href="/ccp/gig/maxwellquartet"> Quartet No. 1: Maxwell Quartet: 6.30pm Saturday 7th June</a></li>
<li><a href="/ccp/gig/fejesquartet"> Quartet No. 2: Fejes Quartet: 8.30pm Monday 9th June</a></li>
<li><a href="/ccp/gig/danielsbeard3"> Quartet No. 3: Daniel’s Beard Strings: 8.30pm Wednesday 11th June</a></li>
<li><a href="/ccp/gig/edinburghquartet"> Quartet No. 4: Edinburgh Quartet: 6.30pm Saturday 14th June</a></li>
<li><a href="/ccp/gig/glasgowstringquartet"> Quartet No. 5: Glasgow String Quartet: 8.30pm Monday 16th June</a></li>
<li><a href="/ccp/gig/mcs"> From Jewish Folk Poetry/Rothschild’s Violin: Musicians Co-OPERAtive Scotland: 8.30pm Sunday 8th June</a></li>
</ul>
<p>&nbsp;</p>
<h4>Helping the West End to see inside the music</h4>
<p>Shostakovich’s choice of eyewear gave the composer a distinctive visual image as well!  Byres Road opticians <b>Currie and Quirk</b> are sponsoring the series, with a 2 for 1 deal for their customers and a <a href="/ccp/tickets"> Dmitri Eyes</a> offer – see their window display for a clearer look at it.</p>
<p><div>Currie and Quirk</div>
<div>142-144 Byres Road</div>
<div>Glasgow</div>
<div>G12 8TD</div>
<div>0141 339 2900</div>
<div><a href="http://www.currieandquirk.co.uk">www.currieandquirk.co.uk</a></div></p>



<hr>
{% endblock %}