{% extends 'ctp_website/base_with_right_no_twitter.html' %}

{% load static %}

{% block titleblock %}Welcome to the Cottier Chamber Project{% endblock %}

{% block bodyblock %}
<h3>Support Us</h3>

<p>The Cottier Chamber Project is run by a very small team, so if you would like to be involved with helping out, either financially or practically, then they would be delighted to hear from you!</p>
<p><b>To help financially:</b></p>
<p>Our funding comes from several sources – we apply for grants from a number of funding bodies, we arrange sponsorship for the series, and we also welcome individual donations.  </p>
<p>If you would like to be involved as a sponsor, please contact us through the <a href="/ctp_website/contact.html">Contact</a> page.</p>
<p>If you would like to make a donation as an individual, you can either send a cheque or donate via PayPal.  If you are a UK tax payer, please consider using Gift Aid to maximise your donation (you can download a form here or contact us to request one in the post).  To donate through PayPal, please click here:</p>
<p><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="MG8WMJBNV3VW8">
<input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form></p>
<p><b>To help practically:</b></p>
<p>There are many ways to help out practically</p>
<ul>
<li>volunteer to help with stewarding, setting up and clearing away, brochure delivery</li>
<li>loan of instruments (if you have a wonderful grand piano or harpsichord that doesn’t get much use…) or props (Persian rugs and standard lamps are welcome!)</li>
<li>provide accommodation for visiting artists</li>
<li>provide rehearsal space for groups in the weeks leading up to the series</li>
<li>bring down some home baking to keep the musicians going!</li>
<li>spread the word about the series and invite your friends to concerts</li>
If this looks as though it might suit you, please consider joining our friends group – <i>The Cottier Chamber Circle</i>.  Download information <a href="{% static 'circle.pdf' %}" target="new">here</a>.
</ul>

<hr>
{% endblock %}