{% extends 'ctp_website/base_with_right_no_twitter.html' %}
{% load static %}
{% block titleblock %}Welcome to the Cottier Chamber Project{% endblock %}

{% block bodyblock %}
<h3>Tickets</h3>
<div style="margin-left:20px"><p><b>Online and telephone</b></p>
<p>You can book tickets securely online for most of the performances <a href="http://www.cottiers.com/cottiers-events/" target="new">here</a>.  You can print tickets at home, or bring an electronic copy of your confirmation with you.  Telephone bookings can be made on 0141 357 4000.  The box office line is staffed at different times, depending on the performance schedule.  If there is no answer, please leave a message on the answer phone and you will receive a call back.</p>
</div>
<div style="margin-left:20px"><p><b>In person booking</b></p>
<p>Tickets can be bought in person at Currie and Quirk Opticians, on Byres Road.  This will be possible between 10am and 4.45pm, Monday to Saturday starting Wednesday 25th May.</p>
<p>Tickets for future programmes can also be purchased at any of the performances.</p>
<p>Please note that tickets for the Grosvenor Cinema screenings can only be purchased from the Cinema Box Office.</p>
<p>Seating is unreserved.</p>
<p>You can collect tickets from the box office on the night of the performance.  We’re always open at least an hour before the start of the show.</p>
</div>
<div style="margin-left:20px"><p><b>Loyalty Card</b></p>
<p>Don't forget to get your loyalty card stamped at each performance.  Your sixth visit will be free!  Please note that this will not apply to the last two events, held at Tramway.</p>
</div>

<h4>Special offers</h4>


<ul class="giglist">
	<li><b>Beard Like Brahms</b> <a href="#beardc" data-toggle="collapse">[show more]</a></li>
	<div id="beardc" class="collapse out">
		<p style="margin-left: 40px;">
			If you have a Beard Like Brahms…you get in for free!  (This does not apply at the Grosvenor Cinema or Tramway, sorry)
		</p>
	</div>
	<li><b>Currie and Quirk Customers</b> <a href="#curryc" data-toggle="collapse">[show more]</a></li>
	<div id="curryc" class="collapse out">
		<p style="margin-left: 40px;">
			Currie and Quirk customers are entitled to 2 for 1 tickets on the concerts in the Shostakovich Series.  Please contact Currie and Quirk for details.
		</p>
	</div>
	<li><b>New Music Scotland Members</b> <a href="#sptc" data-toggle="collapse">[show more]</a></li>
	<div id="sptc" class="collapse out">
		<p style="margin-left: 40px;">
			If you are a member of New Music Scotland, then you will be able to get a discount on selected concerts.  See the NMS bulletin for details.
		</p>
	</div>
	<li><b>Cavatina Trust</b> <a href="#waitrosec" data-toggle="collapse">[show more]</a></li>
	<div id="waitrosec" class="collapse out">
		<p style="margin-left: 40px;">
			At selected concerts there are a limited number of free tickets available to under 25s, thanks to the generosity of the Cavatina Trust.  You can book these online, but please do not book if you are not planning to attend!
		</p>
	</div>
</ul>


<!-- <div class="tabbable">
	<ul class="nav nav-tabs">
  		<li class="active">
    		<a href="#beard" data-toggle="tab">Beard Like Brahms</a>
  		</li>
  		<li><a href="#curry" data-toggle="tab">Dmitri Eyes: Currie and Quirk</a></li>
  		<li><a href="#spt" data-toggle="tab">SPT Smartcard</a></li>
  		<li><a href="#waitrose" data-toggle="tab">myWaitrose card</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="beard" style="margin-left:20px">
		<p>If you have a genuine Brahmsian beard (spot checks may take place!) then you will get in for free. Click <a href="{% static 'blb2.pdf' %}" target="new">here</a> for our handy guide.</p>
		</div>
		<div class="tab-pane" id="curry" style="margin-left:20px">
			<p>Dmitri-esque specs (click <a href="{% static 'cqspecs2.pdf' %}" target="new">here</a> for our handy guide) will get you free entry to the Currie & Quirk Shostakovich Series, and Currie & Quirk customers will get 2 for 1 entry to the series.  Collect your voucher from Currie & Quirk (142-144 Byres Road, Glasgow).</p>
		</div>
		<div class="tab-pane" id="spt" style="margin-left:20px">
		<p>Glasgow’s legendary Subway is the best way to get to any of our venues - they’re all within an easy stroll of either Kelvinhall or Hillhead Subway stations.  If you have a Smartcard, then you will get £1 off your ticket - just type IHAVEACARD into the ‘Discount Codes’ box.  Don’t forget to show it along with your ticket on the way in to the venue!  We’ll have an honesty box there to take pound coins (or even notes!) if you forget to bring it...</p>
		</div>
		<div class="tab-pane" id="waitrose" style="margin-left:20px">
		<p>Waitrose are a venue for the first time this year, with our Performer Portraits exhibition inhabiting their front window.  If you have a myWaitrose card, then then you will get £1 off your ticket - just type IHAVEACARD into the ‘Discount Codes’ box.  Don’t forget to show it along with your ticket on the way in to the venue!  We’ll have an honesty box there to take pound coins (or even notes!) if you forget to bring it...</p>
		</div>
	</div>
</div> -->

<!-- <hr>
<h4>Ticket shop:</h4>


 --><!-- Start Ticket Shop App -->

<!-- <div id="embedTS_FJEG" style="width:770px;"></div> -->
<script type="text/javascript">
  (function() {
    var el = document.createElement("script");
    el.type = "text/javascript";
    el.async = true;
    el.src = "http://www.ticketsource.co.uk/ticketshop/FJEG";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(el, s);
  })();
</script>

<!-- End Ticket Shop App -->


<hr>
{% endblock %}