{% extends 'ctp_website/base_with_right_no_twitter.html' %}

{% block titleblock %}Welcome to the Cottier Chamber Project{% endblock %}

{% block bodyblock %}
{% if venue %}
<h3>{{venue.name}}</h3>
{% if image_url %}
<div style="float:right;text-align:right;font-size:12px"><img src = "{{image_url}}" width="{{image_width}}">{% if image_credit %}<br />Credit: {{ image_credit }}{% endif %}</div>			
{% endif %}
<div style="font-size:medium;">{{venue.address|safe|linebreaksbr}}</div>
<br />
{% if number %}
<div style="font-size:medium;">Tel: {{number}}</div>
<br />
{% endif %}
<div>{{venue.info|safe|linebreaksbr}}</div>
<br />
<h4>Getting there</h4>
			<p>Nearest Subway: <b>{{venue.nearest_subway}}</b></p>
			<p>Nearest Bus Route: <b>{{venue.nearest_bus}}</b></p>
			<div>
				{{venue.google_maps|safe}}
			</div>
<hr>
{% if venue.image_url2 %}
<div style="font-size:12px"><img src = "{{venue.image_url2}}" width="{{venue.image_width2}}">{% if venue.image_credit2 %}<br />Credit: {{ venue.image_credit2 }}{% endif %}</div>			
{% endif %}


{% endif %}
{% endblock %}

